var fs = require('fs');
var pkg = require('./package.json');

module.exports = {
  banner:
    '/*!\n' +
    ' * canvasImageSaver v' + pkg.version + '\n' +
    ' * Copyright 2014 aaccurso <accurso.alan@gmail.com>\n' +
    ' * See LICENSE in this repository for license information\n' +
    ' */\n',
  dist: 'dist',
  srcFiles: ['src/**/*.js']
};
